/* Base styles */

.contact {
  padding: 4rem ;
  background-color: #f4f4f4;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  padding-bottom: 6.8rem;
}

.contact-container {
  max-width: 1200px;
  margin:0 auto;
}

.contact h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #2c3e50;
}

.contact-intro {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #555;
}

/* Grid layout */
.contact-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Form styles */
.contact-form {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.contact-form label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #2c3e50;
}

.contact-form input,
.contact-form textarea {
  margin-top: 0.5rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  resize: vertical;
}

.contact-form button {
  padding: 1rem;
  background-color: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #1a252f;
}

/* Info section */
.contact-info {
  flex: 1 1 300px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.contact-info h2 {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #2c3e50;
}

.contact-info p {
  margin: 0.5rem 0 1rem;
  font-size: 1rem;
  color: #555;
}


@media (max-width: 768px){

  .contact {
    
    padding-bottom: 4.5rem;
    width: 70%;
  }
  .contact-container{
    width: 100%;
  }

  .contact h1 {
    font-size: 2rem;
  }

  .contact-intro {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .contact-grid {
    flex-direction: column;
    gap: 1rem;
    
  }

  .contact-form,
  .contact-info {
    width: 100%;
    
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.95rem;
  }

  .contact-form button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
  }

  .contact-info h2 {
    font-size: 1.1rem;
  }

  .contact-info p {
    font-size: 0.95rem;
  }
}