
*{
    margin: 0;
}

.home-container {
height: auto;
  width: 100vw; 
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
  margin: 0;
  padding-bottom: 6.8rem;
}

.home-container h3{
  text-align: center;
}
.home-intro{
  width: 50%;
  
}
.quote{
  color: aliceblue;

}
.quote li{
  margin:2rem ;
}

/*
.home-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
*/
.background-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slide .quote {
  color: aliceblue;
  font-size: 1.2rem;
  max-width: 60%;
  text-align: center;
  background: rgba(0,0,0,0.5); /* readability overlay */
  padding: 1rem 2rem;
  border-radius: 8px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 30s infinite;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slide1 {
  background-image: url('/call-of-duty-black-5120x2880-22712.jpg');
  animation-delay: 0s;
}

.slide2 {
  background-image: url('/male-soldier-wearing-americans-army-uniform-glasses.jpg');
  animation-delay: 10s;
}

.slide3 {
  background-image: url('/be07bba0-9896-44d6-a500-b64774954bf5.jpeg');
  animation-delay: 20s;
}

@keyframes fade {
  0% { opacity: 0; }
  15% { opacity: 1; }
  40% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

.home-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}
@media (max-width: 768px) {

  .quote li,.quote{
width: 100%;

  }
  /*
  .out{
    display: none;
  }
    */
  .home-container{
    height: 100vh;
    padding-bottom: 0.01rem;
  }
  
}